:root{
  --background1:#E3E5FA;
  --background2:#BDBECF;
  --background3:#DCDDF1;
  --color1:#9E9FAD;
  --color2:#7F7F8B;
  --color3:#6E3301;
}
*{
  box-sizing:border-box;
  font-family:"Oswald";
  text-align:center;
  margin:0px;
  padding:0px;
  color:var(--color3)
}

#background{
  width:100vw;
  height:100vh;
  background-color:var(--background1);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes rot{ 
  from{
    transform: rotate(0deg);} 
  to{
    transform: rotate(360deg);}
 }

#load{ 
  width:150px;
  height:150px;
  animation:4s linear 0s infinite rot;
}

#tooltip{
  padding:5px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align:left;
}

#legend{
  font-size:0.6rem
}

.button :hover{
color:var(--color2)
}